[tools]
#java = "corretto-21.0.8.9.1"
java = "graalvm-community-21.0.2"

[env]
BOT_TOKEN = ""
ULID_SEQUENCER_DATASOURCE_URL = ""
DATASOURCE_USERNAME = ""
DATASOURCE_PASSWORD = ""

[tasks.jdeps]
description = "Show module dependencies of jar"
run = """
./gradlew clean {{arg(name="module")}}:build -x test

if [ '{{flag(name='spring')}}' = 'true' ]; then
  readonly TMP_DIR="/tmp/app-jar"
  mkdir -p ${TMP_DIR}
  trap 'rm -rf ${TMP_DIR}' EXIT

  unzip -q {{arg(name="module")}}/build/libs/{{arg(name="module")}}.jar -d "${TMP_DIR}"

  jdeps \
    -classpath '${TMP_DIR}/BOOT-INF/lib/*:${TMP_DIR}/BOOT-INF/classes:${TMP_DIR}' \
    --print-module-deps \
    --ignore-missing-deps \
    --module-path ${TMP_DIR}/BOOT-INF/lib/javax.activation-api-1.2.0.jar \
    --recursive \
    --multi-release 21 \
    -quiet \
    ${TMP_DIR}/org ${TMP_DIR}/BOOT-INF/classes ${TMP_DIR}/BOOT-INF/lib/*.jar
else
  jdeps \
    --print-module-deps \
    --ignore-missing-deps \
    --recursive \
    --multi-release 21 \
    -quiet \
    {{arg(name="module")}}/build/libs/{{arg(name="module")}}.jar
fi
"""

[tasks.native-image-agent]
description = "Run the application with GraalVM Native Image Agent to generate configuration files"
run = """
./gradlew clean ulid-sequencer:build -x test
java -agentlib:native-image-agent=config-output-dir=./ulid-sequencer/src/main/resources/META-INF/native-image -jar ulid-sequencer/build/libs/ulid-sequencer.jar
"""
