name: CI Pipeline

on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '.github/CODEOWNERS'
      - '.gitignore'
      - 'LICENSE.md'
      - 'README.md'

jobs:
  unit-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module:
          - discord-bot
          - finance-core
          - ulid-sequencer
          - expenses-api
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: '21'
          cache: 'gradle'
      - name: Run unit test
        run: ./gradlew clean ${{ matrix.module }}:test
