name: Docker Push

on:
  push:
    branches:
      - feature/migrate-graalvm

permissions:
  packages: write
  contents: write

jobs:
  build_and_push_docker_image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Login to GitHub container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build docker image
        run: |
          docker build \
          --tag ghcr.io/$GITHUB_ACTOR/home-finance-manager-ulid-sequencer-native:latest \
          ./ulid-sequencer
      - name: Push docker image
        run: |
          docker push ghcr.io/$GITHUB_ACTOR/home-finance-manager-ulid-sequencer-native:latest
